.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 32px;
  align-items: stretch;
  padding: 24px 24px 24px 0;
}

.serverInfo {
  position: relative;
}

.colorBg {
  background-color: rgba(0, 0, 0, 0.15);
  height: 75px;
  padding: 12px 24px 12px 12px;
}

.region {
  height: 24px;
  width: 24px;
}

.infoContainer {
  background-color: var(--background-light);
  padding: 12px;
  font-size: 13px;
}

.header {
  background-color: rgba(10, 0, 69, 0.55);
  padding: 12px;
  font-size: 13px;
  text-align: left;
  height: 24px;
}

.serverName {
  font-size: 13px;
}

.gameVersion {
  margin-top: auto;
  font-size: 12px;
}
