.wrapper {
  background-color: var(--background-light);
  display: flex;
  height: 230px;
  margin: 12px 24px 0 0;
  position: relative;
  object-fit: cover;
  object-position: center center;
  background-position: center center;
  background-size: cover;
}

.side {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  font-size: 24px;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 36px;
  z-index: 2;
  width: 50px;
}
