.matchRow {
  align-items: center;
  background-color: var(--background-light);
  border-bottom: 1px solid var(--background);
  display: flex;
  flex: 1;
  padding: 12px;
}

.map {
  width: 150px;
}

.timestamp {
  margin-left: auto;
}
